<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Freelancer - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/Podologia.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg style=" style="background-color: #fffdea;">
        <div class="container px-lg-5">
            <a class="navbar-brand" asp-controller="Podologia" asp-action="Index">
                <img src="/img/logo-01.png" alt="" class="img-fluid" height="10" style="max-width:200px" />
            </a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded active" aria-current="page" asp-controller="Podologia" asp-action="Index">Início</a>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Cliente" asp-action="BuscarCliente">Cliente</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Servicos" asp-action="Index">Serviços</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Galeria" asp-action="Index">Galeria</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-controller="Sobre" asp-action="Index">Sobre</a></li>
                </ul>
            </div>
        </div>
    </nav>
   


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
 
    <!-- Footer-->
    <footer class="footer text-center">
      
        <div class="container ">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-1 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        160 R.gracliano ramos
                        <br />
                        Jundiai,Sãopaulo 
                        <br />
                        CEP:132115472
                    </p>

                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-3 mb-1 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Redes Socias</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://wa.me/11997535036"><i class="fab fa-fw fa-whatsapp"></i></a>

                </div> 
                <!-- Footer About Text-->
                <div class="col-lg-3">
                    <h4 class="text-uppercase mb-0">Sobre meu local de trabalho</h4>
                    <p class="lead mb-0"> ao chegar ao local indicado verifique o interfone e aperte o numero 7 
               
                        .
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

    </html>
