@model PodologiaJa.Models.Cliente
@{
    ViewData["Title"] = "Cadastro Cliente";
    Layout = "~/Views/Shared/_LayoutPodologia2.cshtml";


}
<div class="row">
    <div class="col text-center">
        <h1>☊ Agendamento De Consultas☊</h1>
    </div>
</div>
<form method="post">
    <div class="row"> 
       <div class="col-5 m-3"> 
        <label class="col-form-label fw-bold">Nome</label>
            <input asp-for="Nome_completo" class="form-control" id="Nome_completo"type="text" />
            <div class="form-text">Digite o Seu Nome completo</div>
     </div>
        <div class="col-3 m-3">
            <label class="col-form-label fw-bold">Celular</label>
            <input asp-for="Celular" class="form-control" id="Celular" type="text"/>
            <div class="form-text">Digite o Seu numero do Celular</div>
        </div>
        <div class="col-3 m-3">
            <label class="col-form-label fw-bold">Email</label>
            <input asp-for="Email" class="form-control" id="Email" type="email" />
            <div class="form-text">Digite o Seu Email Por Favor </div>
        </div>
        <div class="col-3 m-3">
            <label class="col-form-label fw-bold">Data Agedamento</label>
            <input asp-for="Data_Agendamento" class="form-control" id="Data_Agedamento" type="date" />
            <div class="form-text">Digite A data de Consulta que Deseja </div>
        </div>
        <div class="col-3 m-3">
            <label class="col-form-label fw-bold">Hora Agendamento</label>
            <input asp-for="Hora_Agendamento" class="form-control" id="Hora_Agendamento" type="time" />
            <div class="form-text">Digite A Hora da Consulta que Deseja </div>
        </div>
        <div class="col-3 m-3">
            <label class="col-form-label fw-bold text-nowrap">Mensagem</label>
            <textarea asp-for="Descricao" class="form-control" id="Descricao" rows="2"></textarea>
            <div class="form-text">Registre sua Queixar  Por favor  </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-3 d-flex justify-content-end">
            <input type="submit"class="btn btn-outline-info btn-lg" name="name" value="Salvar"/>
        </div>
    </div>
</form>


