@{
    ViewData["Title"] = "Inicio";

}
<header class="">
    <!----Banner----->
    <div class="container-fluid">
        <img src="/img/Banner.jpg" alt="Banner" class="img-fluid" />
    </div> 
   
</header>

