@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_LayoutPodologia2.cshtml";

}
<header class="">
    <!----Banner----->
    <div class="container-fluid">
        <img src="~/img/Banner.jpg" alt="Banner" class="img-fluid" />
    </div> 
</header>

