body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    /*margin-top: 50px; *//* Espaçamento superior */
}

.carousel-inner img {
    border-radius: 8px; /* Bordas arredondadas para as imagens */
    width:100%;
    height:auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para os ícones */
    border-radius: 50%; /* Ícones arredondados */
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Ajusta a largura dos controles */
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        filter: brightness(1.2); /* Aumenta a luminosidade ao passar o mouse */
    }

h2 {
    font-size: 2em; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento inferior */
    color: #333; /* Cor do texto do título */
}
@media (min-width:1200px)
{
    .carousel-inner img{
        width:70%;
        max-height:600px;
    }
}