@{
    ViewData["Title"] = "Servicos";
    Layout = "~/Views/Shared/_LayoutPodologia2.cshtml";
}

    <!----serviços--->
<link href="/css/ServiçosPodologia.css" rel="stylesheet" />
<body>
    <section class="content">
        <h2>Podologia e suas Patologias</h2>
        <div class="services">
            <div class="service">
                <h3>Desencravando Unhas</h3>
                <p>É quando uma ponta de unha ao crescer machuca a pele e sangra. E conforme o tempo desta condição, gera até pus.</p>
            </div>
            <div class="service">
                <h3>Calos e Calosidade</h3>
                <p>
                    Se formam em pontos específicos, onde há muita pressão e atrito
                    com constância! A pele responde a esse tipo de agressão formando uma queratose no local
                    Que de início aparece com ardência, vira bolha e depois começa aparecer uma pele bem dura e dolorida!
                </p>
            </div>
            <div class="service">
                <h3>Olho de Peixe</h3>
                <p>
                    Este é o nome popular, mas trata-se de um vírus HPV, oportunista, ele
                    entra na pele que sofreu uma microfissura,(pés ressecados, baixa imunidade).Dói
                    demais, parece com uma pedra no sapato.
                </p>
            </div>
            <div class="service">
                <h3>Onicocriptose</h3>
                <p>
                    A onicocriptose, normalmente referida como "unha encravada"é uma patologia do aparelho ungueal,
                    muito comum e normalmente dolorosa. Caracteriza-se pela penetração da unha (lâmina ungueal) nos tecidos periungueais,
                    causando normalmente uma reação inflamatória, dor e limitação funcional.
                </p>
            </div>
            <div class="service">
                <h3>A correção da lâmina</h3>
                <p>
                    É um procedimento comum na podologia para tratar deformidades e problemas como unhas encravadas.
                    Existem várias técnicas e dispositivos, conhecidos como órteses,
                    que podem ser utilizados para corrigir a curvatura da unha e aliviar a dor.
                </p>
            </div>
            <div class="service">
                <h3>Tratamento com PMM</h3>
                <p>é uma técnica utilizada principalmente na podologia para corrigir a curvatura das unhas, especialmente em casos de unhas encravadas ou deformadas.</p>
            </div>
        </div>
    </section>
</body>

   