@{
    ViewData["Title"] = "Servicos";
    Layout = "~/Views/Shared/_LayoutPodologia2.cshtml";
}

    <!----serviços--->


<body>
    <div class="container my-5">
        <div class="card text-center mb-4">
            <div class="card-body">
                <h3 class="card-title">Podologia e suas Patologias</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Desencravando Unhas</h5>
                        <p class="card-text">É quando uma ponta de unha ao crescer machuca a pele e sangra. E conforme o tempo desta condição, gera até pus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Calos e Calosidade</h5>
                        <p class="card-text">
                            Se formam em pontos específicos, onde há muita pressão e atrito
                            com constância! A pele responde a esse tipo de agressão formando uma queratose no local
                            Que de início aparece com ardência, vira bolha e depois começa aparecer uma pele bem dura e dolorida!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Olho de peixe</h5>
                        <p class="card-text">
                            Este é o nome popular, mas trata-se de um vírus HPV, oportunista, ele
                            entra na pele que sofreu uma microfissura,(pés ressecados, baixa imunidade).Dói
                            demais, parece com uma pedra no sapato.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Onicocriptose</h5>
                        <p class="card-text">  A onicocriptose, normalmente referida como "unha encravada"é uma patologia do aparelho ungueal,
                            muito comum e normalmente dolorosa. Caracteriza-se pela penetração da unha (lâmina ungueal) nos tecidos periungueais,
                            causando normalmente uma reação inflamatória, dor e limitação funcional. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">A correção da lâmina</h5>
                        <p class="card-text">É um procedimento comum na podologia para tratar deformidades e problemas como unhas encravadas.
                            Existem várias técnicas e dispositivos, conhecidos como órteses,
                            que podem ser utilizados para corrigir a curvatura da unha e aliviar a dor. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">O tratamento com FMM</h5>
                        <p class="card-text">é uma técnica utilizada principalmente na podologia para corrigir a curvatura das unhas, especialmente em casos de unhas encravadas ou deformadas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


