@{
    ViewData["Title"] = "Sobre";
}
<div class="row">
    <div class="col text-center">
        <h1>☊ Conheça um pouco mais do meu Atendimento...☊</h1>
    </div>
</div>
<body>
    <section class="book-container">
        <div class="book">
            <div class="page">
                <h3>Quem sou eu ...</h3>
                <img src="/img/Sobre/img51.jpg" alt="" />
            </div>
            <div class="page page-content">
                <h2>Sobre</h2>
                <h3>Quem sou eu ...</h3>
                <p>Ola,caso nao me conheça, eu sou A luana, a pessoas </p>
                <h3>Meus serviços</h3>
                <p>Podoproflia(retiradas de calos</p>
                <h3>O que eu faço</h3>
                <p>onicocortes(tratamento de corecao das unhas</p>
            </div>
        </div>
        <div class="book">
            <div class="page">
                <h3>Meus Serviços</h3>
                <img src="/img/Sobre/img24.jpg" alt="" />
            </div>
            <div class="page page-content">
                <h2>Sobre</h2>
                <h3>Quem sou eu ...</h3>
                <p>Ola,caso nao me conheça, eu sou A luana, a pessoas </p>
                <h3>Meus serviços</h3>
                <p>Podoproflia(retiradas de calos</p>
                <h3>O que eu faço</h3>
                <p>onicocortes(tratamento de corecao das unhas</p>
            </div>
        </div>
        <style>
            .book-container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100vh;
                background-color: azure
            }

            .book {
                display: flex;
                width: 45%;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                background-color: white;
                border-radius: 10px;
            }

            .page {
                width: 50%;
              
            }

                .page img {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }

            .page-content {
                padding: 20px
            }
        </style>
    </section>
</body>
