@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_LayoutPodologia2.cshtml";

}
<div class="row">
    <div class="col text-center">
        <h1>☊ Conheça um pouco mais do meu Atendimento...☊</h1>
    </div>
</div>
<body>
    <section class="book-container">
        <div class="book">
            <div class="page">
                <img src="/img/Sobre/img51.jpg" alt="" />
            </div>
            <div class="page page-content">
                <h2>Sobre</h2>
                <h6>Quem sou eu ...</h6>
                <p>Sou mulher,mãe de dois filhos,atualmente atuando na Podologia </p>
                <h6>*Experiência como podologa*</h6>
                <p>  Passei 15 anos atuando como Manicure/Pedicure.
                    Há 5 anos como Podóloga!</p>

                <h6>*Qualificação*</h6>
                <p>Técnico em Podologia Senac Jundiai-SP 2017</p>
                <p>Podologia Geriátrica em Senac Jundiai-SP  2018.</p>
                <p>
                    Especialização em Órtese
                    Professor José Alvez-Brasilia-DF 2022
                </p>
                <p>
                    Especialização em Micologia
                    Professor(a)Elen Viana- *Cap* Campinas 2023
                </p>
                <p>Especialização em Ácidos para tratamentos de Onicocriptose,Onicomicoses,Onicofoses. 2023</p>
                <h6>*Atendimento Personalizado*</h6>
                <p> </p>
                <h6>*Ambiente acolhedor*</h6>
                <p>Um espaço tranquilo,devidamente higienizado de acordo com as normas e exigências da Vigilância Santaria,trazendo ao paciente Biosegurança ideal no procedimento!</p>

            </div>
        </div>
        <div class="book">
            <div class="page">
                <h3>Quem sou eu ...</h3>
                <img src="/img/Sobre/img24.jpg" alt="" />
            </div>
            <div class="page page-content">
                <h2>O que eu faço</h2>
                <h3>Podoprofila</h3>
                <p>retirada de calos e calosidades, corte correto das unhas, limpeza dos sulcos,lixamento,plantar e ungueal) </p>
                <h3>Onicoòrtes</h3>
                <p>(tratamento de correção das unhas)</p>
                <h3>Onicomicose</h3>
                <p>(tratamento para eliminar fungos das unhas)</p>
                <p>
                    Coleta de material e envio do mesmo para exames micológicas e de cultura
                    Atendimento para todos os públicos
                    especialização com idosos
                    Podopediatria (Crianças
                </p>
            </div>
        </div>
    
        <style>
            .book-container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100vh;
                background-color: azure
            }

            .book {
                display: flex;
                width: 45%;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                background-color: white;
                border-radius: 10px;
            }

            .page {
                width: 65%;
               /*  padding:20px; */
              
            }

                .page img {
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }

            .page-content {
                padding: 20px
            }
        </style>
    </section>
</body>
